body {
  margin: 0;
  font-family: arial, verdana, helvetica, Microsoft Yahei, sans-serif;
  color: #7e8793;
  -webkit-font-smoothing: antialiased;
}
* {
  box-sizing: border-box;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.padd {
  padding: 1rem;
}
.btn {
  border: 1px solid #5dd5c8;
  background: #5dd5c8;
  border-radius: 2.2rem;
  padding: 0.3rem 1rem;
  color: #fff;
}
.container .home-header {
  width: 100%;
  height: 40%;
  background: url(../images/home-bg.png) no-repeat;
  background-size: 100% auto;
  text-align: center;
  padding-bottom: 1.2rem;
}
.container .home-header img {
  width: 68%;
  margin: 2.3rem;
}
.container .home-header form {
  width: 80%;
  background-color: #fff;
  margin: 0 auto;
  line-height: 2.2rem;
  border-radius: 2.2rem;
}
.container .home-header form input {
  font-size: 0.85rem;
  color: #aaa;
  border: none;
  background: none;
}
.container .home-header form input:focus {
  outline: none;
}
.container .home-header form button {
  border: none;
  background: none;
  font-weight: lighter;
  color: #5bd4c7;
  background-color: #fff;
  margin-left: 2.666667rem;
}
.home-categories {
  padding: 0 1rem;
}
.home-categories dt {
  display: flex;
  align-items: center;
}
.home-categories dt img {
  height: 3rem;
  margin-right: 1rem;
}
.home-categories dt span {
  color: #000;
  font-weight: 700;
}
.home-categories dd {
  margin: 0;
}
.home-categories dd .tag {
  background: #f5f8f9;
  color: #7e8793;
  padding: 0.5rem 1rem;
  display: inline-block;
  border-radius: 2.2rem;
  text-decoration: none;
  margin: 0.2rem 0.2rem;
  font-size: 0.8rem;
}
.home-footer {
  width: 70%;
  margin: 0 auto;
  font-size: 0.75rem;
}
.home-footer p {
  margin: 0;
  padding-bottom: 0.3rem;
}
.list-header {
  padding: 0.8rem 1rem;
}
.list-header form {
  width: 100%;
}
.list-header form .inner {
  width: 100%;
  background: #f4f7f9;
  border-radius: 2.2rem;
  margin: 0 1rem;
  padding: 0 1rem;
}
.list-header form .inner input {
  width: 80%;
  border: none;
  background: transparent;
  outline: none;
  line-height: 1.5rem;
  color: #8b96a6;
  font-size: 0.5rem;
}
.list-header form img {
  height: 1.2rem;
}
.list-header form button {
  border: none;
  background: none;
  font-size: 0.9rem;
  color: #5bd4c7;
  flex-shrink: 0;
  padding: 0;
}
.filter {
  padding: 1rem;
  border: 1px solid #f5f8f9;
}
.filter .active dt {
  color: #4b4b4b;
}
.filter dl {
  margin: 0;
}
.filter dt {
  font-size: 0.8rem;
}
.filter dt:after {
  content: '';
  display: inline-block;
  width: 4px;
  height: 4px;
  border: 1px solid #999;
  border-style: solid none none solid;
  transform: rotate(225deg);
  transform-origin: 2px 1px;
  margin-left: 0.5rem;
  transition: all 0.3s;
}
.filter .active dd {
  display: block;
  width: 100%;
  height: 30%;
  position: absolute;
  top: 103px;
  left: 0px;
  border: 1px solid #f8f8f8;
  text-indent: 1rem;
}
.filter .active dd ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #fff;
}
.filter .active dd ul li {
  line-height: 3.5rem;
}
.filter .active dd ul .active {
  background: #f8f8f8;
  list-style-type: none;
  color: #4b4b4b;
}
.filter .active dt:after {
  transform: rotate(45deg);
}
.filter dd {
  display: none;
  margin: 0;
}
.job-list {
  margin: 0px;
  padding: 0px;
}
.job-list li {
  border-bottom: 1px solid #f5f8f9;
}
.job-list li a {
  text-decoration: none;
}
.job-list li a img {
  margin: 1rem;
  height: 5rem;
  border-radius: 2.2rem;
}
.job-list li a .text {
  width: 100%;
  margin-left: 1rem;
}
.job-list li a .text .title {
  color: #4b4b4b;
  font-size: 1rem;
}
.job-list li a .text .title .salary {
  margin-right: 1rem;
  font-size: 1.2rem;
  color: #fc6c38;
}
.job-list li a .text .company {
  margin: 0.3rem 0;
  color: #4b4b4b;
  font-size: 0.9rem;
}
.job-list li a .text .props {
  color: #8b96a6;
  font-size: 0.7rem;
}
.job-list li a .text .props span {
  margin-right: 0.7rem;
}
.job-header img {
  width: 6rem;
}
.job-header form {
  width: 40%;
  border: 1px solid #62d5c8;
  border-radius: 2rem;
  padding: 0 0.5rem;
}
.job-header form input {
  border: none;
  outline: none;
  background: none;
  line-height: 1.5rem;
  width: 80%;
  font-size: 0.9rem;
  color: #aaa;
}
.job-header form .search-icon {
  background: url(../images/icons.png) no-repeat top center;
  border: none;
  background-size: 100% auto;
  display: inline-block;
  width: 1rem;
  height: 1rem;
}
.job-info {
  width: 100%;
  background: #62d5c8;
  color: #fff;
  font-weight: 700;
}
.job-info .text {
  font-size: 1.2rem;
}
.job-info .props .items {
  font-size: 0.3rem;
  margin: 0.6rem 0;
}
.job-info .props .items i {
  display: inline-block;
  width: 1px;
  height: 0.586rem;
  background: #fff;
  margin: 0 0.3rem;
}
.job-info .tags {
  margin-bottom: 0.5rem;
}
.job-info .tags span {
  border: 1px solid #fff;
  padding: 0 0.5rem;
  border-radius: 0.8rem;
  font-size: 0.4rem;
}
.job-info .job-update samll {
  font-size: 0.3rem;
}
.user-info {
  background: #eefbf9;
}
.user-info .left-img {
  height: 3rem;
  border-radius: 100%;
}
.user-info .info {
  margin-left: 1rem;
  width: 100%;
}
.user-info .info .name {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 0.6rem;
}
.user-info .info .name .like {
  margin-right: 3rem;
  font-size: 0.3rem;
  color: #fb7042;
}
.user-info .info .desc {
  font-size: 0.3rem;
}
.user-info .btn {
  border: 1px solid #5dd5c8;
  background: #5dd5c8;
  border-radius: 2.2rem;
  padding: 0.3rem 1rem;
  color: #fff;
}
.user-info button {
  font-size: 0.9rem;
  flex-shrink: 0;
}
.job-detail h3 {
  position: relative;
  font-size: 1rem;
  color: #333;
}
.job-detail h3:after {
  content: '';
  display: inline-block;
  width: 1rem;
  height: 1px;
  background: #62d5c8;
  position: absolute;
  top: 2.1rem;
  left: 0px;
}
.job-detail .text {
  font-size: 0.95rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
}
.job-detail table {
  border: 1px solid #ebecef;
  font-size: 0.85rem;
  width: 100%;
  padding: 1rem 0;
  margin-bottom: 1rem;
}
.job-detail table th {
  font-weight: normal;
  color: #9fa3b0;
}
.job-detail .source {
  font-size: 0.3rem;
  color: #9fa3b0;
}
.company-detail {
  background: #eefbf9;
}
.company-detail img {
  height: 3.5rem;
  border-radius: 3.3rem;
}
.company-detail .text {
  width: 100%;
}
.company-detail .text .title {
  font-size: 1.1rem;
  color: #414a60;
}
.company-detail .text .title button {
  font-size: 0.9rem;
  flex-shrink: 0;
  margin: 1rem 0.4rem 0.2rem 0;
}
.company-detail .text .all-name {
  margin-bottom: 0.3rem;
  font-size: 0.5rem;
}
.company-detail .text .tags {
  font-size: 0.3rem;
}
.company-detail .text .tags i {
  display: inline-block;
  width: 1px;
  height: 0.586rem;
  background: #9fa3af;
  margin: 0 0.5rem;
}
.job-remand {
  font-weight: normal;
  color: #767f96;
  font-size: 0.8rem;
}
.job-remand ul {
  padding: 0;
}
.job-remand ul li {
  border-top: 1px solid #e5e9f3;
  list-style-type: none;
}
.job-remand ul li a {
  text-decoration: none;
  color: #333;
}
.job-remand ul li a .company-logo img {
  height: 3.5rem;
}
.job-remand ul li a .company-content {
  width: 100%;
}
.job-remand ul li a .company-content .title {
  margin-bottom: 0.3rem;
  font-size: 1rem;
}
.job-remand ul li a .company-content .title span:nth-child(n+2) {
  color: #fc6c38;
}
.job-remand ul li a .company-content .location button {
  background: #fff;
  color: #62d5c8;
}
